// Variables

$brand-primary: #50965F;
$brand-secondary: #507696;
$gray-dark: lighten(black, 25%);
$gray-link: lighten(black, 35%);
$gray: lighten(black, 50%);
$white-faded: rgba(white, 0.8);
$gray-light: #eee;